
<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>3RD PERIOD FALL 2024</mat-card-title>
      <mat-card-subtitle>John Poulnott</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>View assignments</button>
      <button mat-button>To class</button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>AP CSP 2025 </mat-card-title>
      <mat-card-subtitle>Mark Vukovic</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>View assignments</button>
      <button mat-button>To class</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>ENG4-4</mat-card-title>
      <mat-card-subtitle>Jessica Hassler</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>View assignments</button>
      <button mat-button>To class</button>
    </mat-card-actions>
  </mat-card>
  
