<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-form-field>
        <mat-label>Recipe Name</mat-label>
        <!-- <input matInput recipe_name"> -->
      </mat-form-field>
      <!-- <img mat-card-xl-image src="{{ recipeData.recipe_photo }}" alt="Recipe Photo"> -->
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field>
      <mat-label>Recipe URL</mat-label>
      <!-- <input matInput recipe_url"> -->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Calories</mat-label>
      <!-- <input matInput Calories"> -->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Carbohydrates</mat-label>
      <!-- <input matInput Carbohydrates"> -->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fat</mat-label>
      <!-- <input matInput Fat"> -->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Protein</mat-label>
      <!-- <input matInput Protein"> -->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Sodium</mat-label>
      <!-- <input matInput Sodium"> -->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Prep Time</mat-label>
      <!-- <input matInput Prep_Time"> -->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ingredients</mat-label>
      <!-- <textarea matInput Ingredients"></textarea> -->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <!-- <input matInput category"> -->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Yields</mat-label>
      <!-- <input matInput yields"> -->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Site Name</mat-label>
      <!-- <input matInput site_name"> -->
    </mat-form-field>

    <button mat-stroked-button color="accent">Submit</button>
    <button mat-stroked-button color="warn">Cancel</button>
  </mat-card-content>
</mat-card>
