<div class="nav-container">
  <mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-form-field class="nav-selector">
      <mat-label>Difficulty_Level</mat-label>
      <mat-select> Difficulty_Level
          <mat-option>Intermediate</mat-option>
          <mat-option></mat-option>
         
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
  <div class="grid" >
      <mat-card class="recipe-card"*ngFor="let recipe of recipes">
        <mat-card-header>
          <mat-card-title>{{ recipe.recipe_name }}</mat-card-title>
          <mat-card-subtitle>Difficulty: {{ recipe.Difficulty_Level }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="recipe.recipe_photo" alt="Recipe photo" />
        <mat-card-content>
          <div>{{ recipe.Calories }} Calories</div>
          <div>Preparation: {{ recipe.Prep_Time }}</div>
          <div>Spice: {{ recipe.Spice_Level }}</div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>ADD</button>
          <button mat-raised-button color="primary">VIEW</button>
        </mat-card-actions>
      </mat-card>
    </div>
</div>