
.nav-container{
  padding: 2%;
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  gap:2%
  
}
.recipe-card{


  img{
    width: 100%;
    height: 50%;
    object-fit:fit-content;
  }
}




