
.nav-container .nav-selector{
  padding: 2%;

}

img{
  width: 100%;
  height: 50%;
  object-fit:fit-content;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  gap:2%
}

